<section id="cart-sidebar" class="sidebar hidden">
    <button id="close-cart">✕</button>
    <p class="sidebar_title">My Card</p>
    <div id="cart-content" class="sidebar-content">
        {% if cart.items %}
            <ul>
                {% for item in cart.items %}
                    <li>
                        <div class="product_info">
                            <img src="{{ item.image | img_url: '100x100' }}" alt="{{ item.title }}">
                            <p class="product_info-title">Name: {{ item.title }}</p>
                            <p class="product_info-quantity">Qty: {{ item.quantity }}</p>
                            <p class="product_info-line_price">One Price: {{ item.line_price | money }}</p>
                        </div>
                        <button class="remove-item" data-key="{{ item.key }}">✕</button>
                    </li>
                {% endfor %}
            </ul>
            <p class="total_text">Total: {{ cart.total_price | money }}</p>
            <hr>
            <a class="button_pay" href="/checkout">Go to pay</a>
        {% else %}
            <p>Card empty</p>
        {% endif %}
    </div>

</section>
